body {
  background: white;
  color: black;
}

.nav {
  font-family: 'Roboto Condensed';
  
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  flex-direction: column;
}

.article-title-img {
  max-width: 100%;
}

.article {
  font-family: 'Playfair Display';
  font-size: 20px;
  width: 70%;
  margin: auto;
}

.article .article-title {
  font-family: 'Roboto Condensed';
  font-size: 40px;
}

p {
  text-align: justify;
}
