body {
  background: white;
  color: black;
  margin-top: 0px; 
  margin-left: 0px; 
  margin-right: 0px;
}

.article-header {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-image: url('/images/history.jpg');
  background-size: cover;
  background-position: center;
}

.article-header .nav {
  margin-top: 3%;
  font-family: 'Roboto Condensed';
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 18px;
  text-transform: uppercase;
}

.article-header .nav a {
  color: white;
  display: inline-block;
  margin: 0 20px;
  transition: opacity 0.5s ease;
}

.article-header .article-title {
  font-family: 'Roboto Condensed';
  font-size: 4vw;
  margin-top: 10%;
  color: white;
  background-color: rgba(0, 0, 0, .3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.article {
  font-family: 'Playfair Display';
  font-size: 20px;
  width: 70%;
  margin: auto;
}

.article p {
  text-align: justify;
}

.thanks {
  font-family: 'Playfair Display';
  width: 70%;
  text-align: right;
  margin: auto;
}

 .right {
  text-align: right;
   width: 70%;
   margin: auto;
   font-family: 'Playfair Display';
  }

